
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;800&display=swap');
/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
   font-family: 'Syne', sans-serif;
}

body{
    background-color: #ECE2DA;
    min-width: 320px;
    max-width: 100%;
}

/* Header */

#header{
    background-color: white;
}

.logo{
    max-height: 19px;
    max-width: 200px;
    padding-left: 37px;
}

#branding{
    display: flex;
    justify-content: space-between;
}

#site-title{
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    line-height: 19px;
    vertical-align: center;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu-item-commander{
    padding-left: 61px;
    padding-right: 61px;
    background-color: #DC9F96;
    padding-top: 31px;
    padding-bottom: 30px;
}

.menu-item-commander a{
    text-decoration: none;
    color: white;
}



/* Footer */

.footer {
    height: 60px;
    text-align: center;
    align-items: center;
    background-color: #FFFFFF !important;
 }

 .footer a {
    text-decoration: none;
    color: black;
 }

/* Mediaqueries */

@media screen and (max-width : 920px) {
    .menu {
    flex-direction: column;
    }
    .logo{
        max-width: 100%;
        padding-left: 15px;
    }
}