
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');
/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
   font-family: 'Syne', sans-serif;
}

body{
    background-color: #ECE2DA;
    min-width: 320px;
    max-width: 100%;
}

/* Header */

#header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.logo{
    padding-left: 37px;
    width: min(50vw, 200px);
}

.menu{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    background-color: #FFFFFF;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu-item-commander{
    padding-left: 61px;
    padding-right: 61px;
    background-color: #DC9F96;
    padding-top: 31px;
    padding-bottom: 30px;
    line-height: 19px;
}

.menu-item-commander a{
    text-decoration: none;
    color: white;
}

label, #toggle
{
    display: none;
} 

.menu-item:hover{
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
}

.menu-item-commander:hover{
    background-color: #C02E44;
}


/* Footer */

.footer {
    height: 60px;
    text-align: center;
    background-color: #FFFFFF;
 }

 #copyright{
    line-height: 60px;
 }

 .footer a {
    text-decoration: none;
    color: black;
    margin: 0 auto;
 }

/* Mediaqueries */

@media screen and (max-width : 782px) {

    nav
    {
        height: 60px;
    }
    
    .menu {
        flex-direction: column;
        padding-top: 10px;
        gap: 15px;
        align-items: end;
        background-color: #FFFFFF;
        width: 100%;
        z-index: 99;
    }
  
    .menu_responsive{
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu-item{
        padding: 10px;
    }

    .menu-item-commander{
        padding: 0px 10px 0px 0px;
        line-height: 30px;
        background-color: #FFFFFF;
    }
    
    .menu-item-commander a{
        text-decoration: none;
        color: #DC9F96;
    }

    .menu-item-commander:hover{
        background-color: #FFFFFF;
    }

    .menu-item-commander a:hover{
        color:#C02E44;
    }


    label{
    width: 30px;
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: stretch;
    color: #DC9F96;;
    cursor: pointer;
    padding-right: 40px;
}

#toggle:checked + .menu_responsive {
    display: flex;
}

}